.admintitle {
    background-color: #530602;
    color: #fff;
    margin-left: 250px;
    margin-right: 250px;
    height: 140px;
    line-height: 140px;
}

.dashbord {
   background-color: aqua !important;
   color: black;
   margin-left: 250px;
   margin-right: 250px;
   height: 140px;
   line-height: 43px;
   font-size: 30px;
}
